@use "./placeholders";
@use "./colors";
@use "./fonts";
@import "./transition";

* {
    box-sizing: border-box;

    @media (prefers-color-scheme: dark) {
        --bgColor: #{colors.$bgColor-dark};
        --mainColor: #{colors.$mainColor-dark};
        --textColor: #{colors.$textColor-dark};

        --contrastColor: #{colors.$contrastColor-dark};
    }

    @media (prefers-color-scheme: light) {
        --bgColor: #{colors.$bgColor-light};
        --mainColor: #{colors.$mainColor-light};
        --textColor: #{colors.$textColor-light};
        --contrastColor: #{colors.$contrastColor-light};
    }
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    background-color: var(--bgColor);
}

input {
    width: fit-content;
}

button {
    @extend %plain-button;
}
