@mixin buttonMixin(
    $horizontalPadding: 5px,
    $verticalPadding: 10px,
    $bgColor: var(--bgColor),
    $borderColor: var(--contrastColor),
    $borderRadius: 5px,
    $width: fit-content,
    $textColor: var(--textColor)
) {
    padding: $verticalPadding $verticalPadding;
    margin: 0.5em;
    background-color: $bgColor;
    box-shadow: 0px 0px 0px 1px $borderColor;
    border: {
        radius: $borderRadius;
        width: 0;
    }
    width: $width;
    color: $textColor;
    transition: box-shadow 0.2s linear;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 0px 3px;
    }
}

@mixin inputMixin(
    $bgColor: transparent,
    $borderStyle: solid,
    $borderColor: var(--contrastColor),
    $borderTopWidth: 0,
    $borderBottomWidth: 2px,
    $borderRightWidth: 0,
    $borderLeftWidth: 0,
    $textColor: var(--textColor),
    $padding: 10px
) {
    background-color: $bgColor;
    border: {
        style: $borderStyle;
        color: $borderColor;
        top-width: $borderTopWidth;
        bottom-width: $borderBottomWidth;
        right-width: $borderRightWidth;
        left-width: $borderLeftWidth;
    }
    color: $textColor;
    padding: $padding;
}
