@use "./mixins";

%normal-button {
    @include mixins.buttonMixin;
}

%text-button {
    @include mixins.buttonMixin($bgColor: transparent);
    box-shadow: unset;

    &:hover {
        box-shadow: unset;
        text-decoration: underline;
    }
}

%normal-input {
    @include mixins.inputMixin;
}
